body { font-family: 'Roboto', sans-serif; color: #333; background-color: #EEE;}
a { color: #24b8ff; }
h2 { font-weight: bold; }
h2 span { color: #24b9ff; }
.btn-primary { background-color: #77cc00; border-color: #70db86;}
.btn-primary:hover { background-color: #55aa00; border-color: #55aa00; }
.btn-primary:disabled{opacity: 0.7;}
.btn-info { background-color: #24b9ff; }

#loginBox {background-color:#FFF;border:1px solid #CCC;border-radius:5px;padding:20px;}
#loginBox input {margin-bottom:5px;}
.smallCenterBlock {margin-top:60px;max-width:350px;margin-left:auto;margin-right:auto;}


.btn-warning, .btn-warning:hover {color:#FFF;}



#navbar {background-color: #FFF !important;height:55px;margin-bottom: 20px;box-shadow: 0px 3px 3px 0px #999;}
#navbar .nav-item {font-size:14px;}
#navbar .nav-link {color:#555;height:55px;vertical-align: middle;line-height: 45px; max-width:150px; margin-left:auto; margin-right:auto;}
#navbar .active {border-bottom: 2px solid #03a9f4;}
.navbar-brand {padding-top:5px;padding-bottom:0px;}
.navbar-brand img {max-height:35px;max-width:100%;margin-top:10px;}
#navRight {white-space: nowrap; overflow: hidden;}
#navRight img {width:32px;height:24px;margin-top:-3px;margin-right: 8px;}


#userMenu {position:absolute;top:55px;z-index:9999;left:0px;right:0px;}
#userMenu>div {width:280px;max-width:100%;position:relative;background-color:#FFF;color:#333;float: right;box-shadow: 3px 3px 3px #999;}
#userMenu a, #userMenu .label {display:block;padding-top:7px;padding-bottom:7px;padding-left:20px;color:#333;padding-right:10px;}
#userMenu .label {font-weight:600;color:#333;}
#userMenu a:hover {text-decoration:none;background-color:#03a9f4;color:#FFF;}
#userMenu .nav-item, #userMenu .divider {border-top:1px solid #F0F0F0;}
#navSpacer {height:57px;margin-bottom: 25px;}




.sidebar { position: fixed; top: 0px; bottom: 0; left: 0; z-index: 1000; padding: 0px; overflow-x: hidden; overflow-y: auto; border-right: 1px solid #eee; background-color:#FDFDFD !important; }
.sidebar .nav { margin-bottom: 20px; margin-top:20px; }
.sidebar .nav-item { width: 100%; height:30px; overflow:hidden; text-wrap:none; }
.sidebar .nav-item + .nav-item { margin-left: 0; }
.sidebar .nav-link { border-radius: 0; }
.sidebar .nav-link i {width:20px;}
.sidebar .card {border-left:0px;border-right:0px;border-radius:0px;border-top:0px;}
.sidebar .card-header {cursor:pointer;padding-left:5px;}
.sidebar .card-body {padding:10px;}
#sidebar .nav-item a:hover, #sidebar .nav-item a.active {background-color:#24b8ff;color:#FFF;}
#sidebar .nav-item {padding-top:15px; padding-bottom:15px;height:50px;}
#sidebar a { color:#333; }

.inputBox {border:1px solid #E7E7E7;margin-bottom:30px;}
.inputBox .header {border-top:4px solid #03a9f4; background-color:#FFF; font-weight:bold; font-size:16px; padding:10px; color:#333; border-bottom:1px solid #DDD; }
.inputBox .header i {margin-right:5px;}
.inputBox .header .col-4 i {color:#77cc00;}
.inputBox .header .btn {margin-top:-2px;}
.inputBox .subhead {background-color:#FFF; font-weight:600; font-size:16px; padding:10px; color:#333; border-bottom:1px solid #DDD; }
.inputBox .content {padding:10px; background-color:#FFFFFF;}
.inputBox .content p { color:#666; }
.inputBox .footer .btn {border-radius:0px;}
.inputBox .footer .col {padding-left:0px;padding-right:0px;}
.inputBox .footer .col:first-child {padding-left:15px;}
.inputBox .footer .col:first-child .btn {border-bottom-left-radius:5px;}
.inputBox .footer .col:last-child {padding-right:15px;}
.inputBox .footer .col:last-child .btn {border-bottom-right-radius:5px;}
.inputBox .content label {color:#999;}
.inputBox .section {font-weight:600; font-size:16px; padding:10px; color:#333; border-bottom:1px solid #DDD; }

.inputBox .content ul {padding-left:0px;}
.inputBox .content li {list-style-type:none;margin-bottom:10px;}
.inputBox .content li i {margin-right:5px;}
.inputBox .content td i {margin-right:5px;}

.description { font-size: 12px; font-style: italic; color: #777; }
button.datetime-local-datepicker-button {background-color:#FFF;border:0px;width:100%;}

#previewWrapper { width: 100%; height: 400px; overflow: hidden; }
#previewFrame { width: 200%; height: 800px; -ms-transform: scale(0.5); -moz-transform: scale(0.5); -o-transform: scale(0.5); -webkit-transform: scale(0.5); transform: scale(0.5); -ms-transform-origin: 0 0; -moz-transform-origin: 0 0; -o-transform-origin: 0 0; -webkit-transform-origin: 0 0; transform-origin: 0 0; }

.pulsing {
    animation-duration: 1.5s;
    animation-name: pulse;
    animation-iteration-count: infinite
}

@keyframes pulse {
    0% { background-color:#77cc00; }

    50% { background-color:#55aa00; }

    100% { background-color:#77cc00; }
}

@media (max-width: 600px) {
    #logo { height: 25px; margin-top: 2px; margin-bottom: 2px; }
}

@media (min-width: 1200px) {
    .col-lg-2-5 {flex: 0 0 20.8%; max-width: 20.8%; position: relative; width:100%; padding-left:15px;padding-right: 15px;}
}
